<footer class="footer">
    <p class="content">Created by Muhammad Lutfi Ibrahim and Qoyyima Fias Salam</p>
    <p class="content">Git: mlutfiibra | qoyyima22</p>
    <p class="content" style="margin-bottom: 8px !important;">Jakarta, 2019</p>
    
    <div>
        <a href="https://wa.me/6285315337900?text=Hi,%20want%20to%20ask%20something">+62853 1533 7900</a> | <a href="https://wa.me/6285771826805?text=Hi,%20want%20to%20ask%20something">+62857 7182 6805</a>
    </div>
</footer>

<%- include('../../public/js-assets') %>
</body>

</html>