<footer class="footer">
    <p class="content">Created by Muhammad Lutfi Ibrahim and Qoyyima </p>
    <p class="content">Jakarta, 2019</p>
</footer>

<%- include('../../public/js-assets') %>
</body>

</html>