<!DOCTYPE HTML>
<html>
<head>
<title>Add Items to Sell</title>
</head>
<body>
    <h1>Add Items to Sell</h1><br><br>
    <div>
        <%if(err){%>
        <h4><%= err %></h4>
        <% } %>
    </div>
    <form method="post">
        <label for name>Item Name :</label><br>
        <input type="text" id="name" name= "name"><br><br><br>
        <label for price>Price :</label><br>
        <input type="text" id="price" name = "price"><br><br><br>
        <label for img>Your items image links :</label><br>
        <input type="text" id="img" name = "img" ><br><br><br>
        <label for location>Item Location :</label><br>
        <input type="text" id="location" name = "location" ><br><br><br>
        <button type="submit">Add Item</button>
    </form>
    
</body>
</html> 