<%- include('../partials/head', {title: 'Landing Page'}) %>
<%- include('../partials/navbar') %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Sign In</h1>
        </div>
        <div class="col-md-12">
            <form action="/users/signin" method="post">
                <input type="email" name="email" placeholder="Input your email">
                <input type="password" name="password" placeholder="Input your password">
    
                <button type="submit">Sign In</button>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>