<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>
    <h1>Thank you!</h1><br><br>
    <h2>Your payment has been confirmed</h2>
    <h2>Please be patient and wait for your item to come</h2><br>
    <button><a href='/'>go to landing page</a></button>
</body>
</html>