<%- include('../partials/head', {title: 'Payment Confirmation'}) %>
<%- include('../partials/navbar') %>
<div class="container text-center">
    <div class="form-container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="color-orange">Thank you!</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Your payment has been confirmed</h2>
                <h2>Please be patient and wait for your item to come</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-link"><a href='/'>Confirm</a></button>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>